<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMatchEnrollMapper">
    <select id="queryEnrolledMatchList" resultType="java.util.HashMap">
        SELECT matchid FROM t_oracle_user_match where userid = #{userId}
    </select>

    <select id="getAllEnrolledMatchList" resultType="java.util.HashMap">
        SELECT * FROM t_oracle_user_match
    </select>

    <select id="enrolledMatch" parameterType="Map">
        INSERT INTO
        t_oracle_user_match
        (regId, userId, matchId, regDate, status)
        VALUES
        (#{regId}, #{userId}, #{matchId}, #{regDate}, #{status})
    </select>
</mapper>